.header {
    max-width: 1440px;
    height: 119px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__logo {
    margin-left: 50px;
}

.header__nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 17px;
    margin-right: 70px;
}

.header__burger-menu {
    margin-right: 3.47vw;
}

.header__close-btn {
    display: none;
    margin-right: 3.47vw;
}